@page
@model FireBnBWeb.Pages.UserProfiles.IndexModel
@{
    //var user = Model.Users;
}

<style>
    .details {
        padding-top:5px;
        padding-bottom:5px;
    }
</style> 
@* id="" class="" style="" *@

@* email & birthday cant be changed for this project *@
@* Can add or change phone number and all other info *@
@* ask for help if I need help and also work on it  *@

@* ToDo: Complete my page working, and get it ready for Sunday by Saturday *@

<!-- Main content area -->
<div class="border backgroundWhite container">
    <!-- Profile image section -->
    <div id="ProfileImg" class="container col-6 float-start border backgroundRed" style="border-radius:15px;padding:10px;">
        <!-- Display user's full name -->
        <h2 class="text-primary" style="text-align:left;">User Profile @Model.FullName</h2>
    </div>
    <br /> <br /> <br /> <br />
    <!-- User details section -->
    <div id="" class="" style="">
        <label id="FirstName" class="details">First Name: @Model.FirstName</label><br />
        <label id="LastName" class="details">Last Name: @Model.LastName</label><br />
        <label id="Email" class="details">Email: @Model.Email</label><br />
        <label id="PhoneNumber" class="details">Phone Number: @Model.PhoneNumber</label><br />
        <label id="DisplayName" class="details">Display Name: @Model.DisplayName</label><br />
        <label id="Birthdate" class="details">Birthdate: @Model.Birthdate.ToShortDateString()</label><br />
        <label id="SignupDate" class="details">Signup Date: @Model.SignupDate.ToShortDateString()</label><br />
        <label id="ProfilePictureUrl" class="details">Profile Picture: <img src="@Model.ProfilePictureUrl" alt="Profile Picture" style="max-width: 100px; max-height: 100px;" /></label><br />
    </div>
</div>

<!-- Button group for account actions -->
<div class="col-4 btn-group" role="group">
    <a asp-page="Upsert" asp-route-id="@Model.UserId" class="btn btn-danger mx-2">
        <i class="bi bi-pencil-square"></i> Reset/Update Password
    </a>

    <a asp-page="Upsert" asp-route-id="@Model.UserId" class="btn btn-secondary mx-2">
        <i class="bi bi-pencil-square"></i> Edit Account Details
    </a>
</div>

@* @section Scripts {
    <script>
        function alertFunc() {
            var success = $("#success").html();
            var message = $("#message").html();
            console.log(success);
            console.log(message);
            if (success == "True") {
                toastr.success(message);
            };

        }
        window.onload = alertFunc();
    </script>
} *@





