@page
@model FireBnBWeb.Pages.Dashboard.ReviewModel
@{
}

@* idea: put the leave a review on the property page itself. Restrict access/visibility using roles &Aacute &Aacute & stayed at conditions? If so, must validate if review is filled out.
    or make leave a review a seperate page
    -for user roles check example, see UpsertProperty or ask austin.
*@

@* Listing all the properties renter has been to *@
@* <div id="listRentedProperties" style="padding-top:40px;">
    <h2>Renter Reviews</h2>
    <div style="float:left; width: 100%;">
        <div class="row row-cols-2 col-md-15" style="width: 100%; padding-top:40px;">
            <!-- Main Content -->
            @foreach (var property in Model.objProperties)
            {
                <div class="card custom-card m-2" style="width: 18rem; height: auto;">
                    <div class="card-body" style="height: auto;">
                        <h5 class="card-title">
                            @property.Title
                        </h5>
                        <p class="card-text">Description: @property.Description</p>
                        <p class="card-text">
                            @if (property.City != null)
                            {
                                <span>City: @property.City.CityName,</span>
                                <span>County: @property.County.CountyName,</span>
                                <span>State: @property.State.StateName</span>
                            }
                            else
                            {
                                <span>City: Unknown</span>
                            }
                        </p>
                        <p class="card-text">Bedroom: @property.BedroomNum</p>
                        <p class="card-text">GuestMax: @property.GuestMax</p>
                        <div class="col-auto">
                            <a asp-page="/listings/ViewProperty" asp-route-id="@property.Id" class="btn btn-secondary mb-2">Details</a>
                            <a asp-page="/Dashboard/LeaveReview" asp-route-id="@property.Id" class="btn btn-secondary mb-2">Leave a Review</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div> *@

@* Can I direct the user to a new page with this review form to fill out, & would need to store Property Id *@
<div id="CreatingReview" class="col-auto">
    <input asp-for="objUserReview.Id" type="hidden" value="User.Id" />
    <div id="CreatingReview" class="col-md-3">
        <label class="form-label">Review</label>
        <select class="form-select" id="ReviewStars" name="ReviewStars" required>
            <option selected disabled value="-1">Select Rating</option>
            <option value="1">1 Stars</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid star rating
        </div>
    </div>
</div>
<div class="form-floating py-2 col-12">
    <input asp-for="userComment" class="form-control col-6 border-0 shadow h-100" />
    <label asp-for="userComment" class="">Review</label>
    <span asp-validation-for="userComment" class="text-danger"></span>
</div>
</div>
