@page
@model FireBnBWeb.Pages.Dashboard.UpcomingBookingModel
@using Infrastructure.Models

<h1>Upcoming Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>City</th>
            <th>County</th>
            <th>State</th>
            <th>Guest Count</th>
            <th>Total Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.bookingList)
        {
            <tr>
                <td>@booking.Checkin.ToShortDateString()</td>
                <td>@booking.Checkout.ToShortDateString()</td>
                <td>@booking.Property.Location.City.CityName</td>
                <td>@booking.Property.Location.County.CountyName</td>
                <td>@booking.Property.Location.State.StateName</td>
                <td>@booking.Property.GuestMax</td>
                <td>@booking.TotalPrice</td>
                <td>
                    <!--Remove or update, can either do it as java script or take to a new page-->
                    <button class="btn btn-danger" onclick="removeBooking('@booking.Id')">Remove</button>
                    <button class="btn btn-primary" onclick="updateBooking('@booking.Id')">Update</button>
                </td>
            </tr>
        }
    </tbody>
</table>
