@page
@model FireBnBWeb.Pages.Dashboard.UpcomingBookingModel
@using Infrastructure.Models

<h1>All Bookings</h1>

@if (!Model.bookingList.Any(b => b.Checkin <= DateTime.Now && b.Checkout >= DateTime.Now))
{
    <h3 class="text-light">No Current Booking Here!</h3>
}
else
{
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>Current Bookings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.bookingList.Where(b => b.Checkin <= DateTime.Now && b.Checkout >= DateTime.Now))
        {
            <tr class="table-dark">
                <td>@Model.propertyList.FirstOrDefault(p => p.Id == booking.PropertyId)?.Title</td>
                <td>@booking.Checkin.ToShortDateString()</td>
                <td>@booking.Checkout.ToShortDateString()</td>
                <td>@booking.Property.City.CityName</td>
                <td>@booking.Property.County.CountyName</td>
                <td>@booking.Property.State.StateName</td>
                <td>@booking.Property.GuestMax</td>
                <td>$@booking.TotalPrice</td>
                <td>
                    <!--Remove or update, take to a new page-->
                    <button class="btn btn-danger" onclick="removeBooking('@booking.Id')">Cancel Booking</button>
                    <button class="btn btn-primary" onclick="updateBooking('@booking.Id')">Update Booking</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@if (!Model.bookingList.Any(b => b.Checkin > DateTime.Now))
{
    <h3 class="text-light">No Upcoming Booking!</h3>
}
else
{
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>Future Bookings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.bookingList.Where(b => b.Checkin > DateTime.Now))
        {
            <tr class="table-dark">
                <td>@Model.propertyList.FirstOrDefault(p => p.Id == booking.PropertyId)?.Title</td>
                <td>@booking.Checkin.ToShortDateString()</td>
                <td>@booking.Checkout.ToShortDateString()</td>
                <td>@booking.Property.City.CityName</td>
                <td>@booking.Property.County.CountyName</td>
                <td>@booking.Property.State.StateName</td>
                <td>@booking.Property.GuestMax</td>
                <td>$@booking.TotalPrice</td>
                <td>
                    <button class="btn btn-danger" onclick="removeBooking('@booking.Id')">Cancel Booking</button>
                    <button class="btn btn-primary" onclick="updateBooking('@booking.Id')">Update Booking</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@if (!Model.bookingList.Any(b => b.Checkin < DateTime.Now))
{
    <h3 class="text-light">No Pasting Booking Here!</h3>
}
else
{
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>Past Bookings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.bookingList.Where(b => b.Checkout < DateTime.Now))
        {
            <tr class="table-dark">
                <td>@Model.propertyList.FirstOrDefault(p => p.Id == booking.PropertyId)?.Title</td>
                <td>@booking.Checkin.ToShortDateString()</td>
                <td>@booking.Checkout.ToShortDateString()</td>
                <td>@booking.Property.City.CityName</td>
                <td>@booking.Property.County.CountyName</td>
                <td>@booking.Property.State.StateName</td>
                <td>@booking.Property.GuestMax</td>
                <td>$@booking.TotalPrice</td>
                <td>
                    <button class="btn btn-danger" onclick="removeBooking('@booking.Id')">Review Booking</button>
                    <button class="btn btn-primary" onclick="updateBooking('@booking.Id')">Detail of Booking</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}
