@page
@model FireBnBWeb.Pages.Dashboard.Properties.PropImageModel
@{
}
<div>
	@if (Model.ImagesList != null)
	{
		<h2>Primary Image</h2>
		@foreach (var image in Model.ImagesList)
		{
			@if (image.IsPrimary == true)
			{
				<img src="@image.Url" />
				<input for="thereprimary" type="hidden" id="thereprimary" value="true" />
			}

		}
		<h2>Other Images</h2>
		@foreach (var image in Model.ImagesList)
		{
			@if (image.IsPrimary == false)
			{
				<img src="@image.Url" />
			}
		}
	}
</div>
<form method="post">
	<div>
		<input asp-for="objImage.Url" />
		<label asp-for="objImage.Url">Image URl</label>

		<input asp-for="objImage.IsPrimary" />
		<label asp-for="objImage.IsPrimary">Is Primary</label>
		<input asp-for="objImage.PropertyId" type="hidden" value="@Model.propid"/>


	</div>
	<div class="col-6 col-md-3">
		<button type="submit" class="btn btn-primary form-control">Create</button>
		
	</div>
</form>
<div>
	<a asp-page="./Fee" asp-route-id="@Model.propid" class="btn btn-outline-primary border  form-control">Add Fees</a>
	<a asp-page="/Dashboard/Properties/UpsertProperty" asp-route-id="@Model.propid" class="btn btn-primary mb-3">
		<h4 class="card-title">Back to Property</h4>
	</a>
</div>