@page "{id}"
@model FireBnBWeb.Pages.Listings.ViewPropertyModel
@{
    ViewData["Title"] = "Property Details";
}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
<script>

    const model = new Array();
    const dateArr = new Array();
    var i = 0;

    @foreach (var d in Model.AvailableDates)
    {
        <text>
            dateArr.push("@d.Year");
            dateArr.push("@d.Month");
            dateArr.push("@d.Day");
        </text>
    }

    while(dateArr[i]) {
        var year = dateArr[i];
        var month = dateArr[i+1];
        var day = dateArr[i+2];


        if(day < 10) {
            day = '0' + day;
        }

        if(month < 10) {
            month = '0' + month;
        }

        var date = year + '-' + month + '-' + day;

        model.push(
            {
                title: 'Available',
                start: date//,
                //url: "https://google.com"
            }
        );

        i += 3;
    }
    
    console.log(model);

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: model
            // events: [
            //     {
            //         title: 'Single',
            //         start: '2023-10-23 18:00:00.000',
            //         end: '2023-10-23 20:00:00.00'
            //     },
            //     {
            //         title: 'Spanning',
            //         start: '2023-10-23 22:00:00.000',
            //         end: '2023-10-24 24:00:00.000'
            //     },
            //     {
            //         title: 'Recurring Single',
            //         startTime: '20:00:00.000',
            //         endTime: '21:00:00.000',
            //         startRecur: '2023-10-23',
            //         endRecur: '2023-11-23',
            //         daysOfWeek: [1, 3, 5]
            //     },
            //     {
            //         title: 'Recurring Spanning',
            //         startTime: '23:00:00.000',
            //         endTime: '26:00:00.000',
            //         startRecur: '2023-10-24',
            //         endRecur: '2023-11-24',
            //         daysOfWeek: [2]
            //     }
            // ]
        });
        calendar.render();
    });

</script>

<div class="card container p-4 m-3">
    <div class="card-header pt-3">
        <div>
            <h1 class="text-primary">@Model.Property.Title</h1>
        </div>
    </div>
    <div class="p-3 card-body">
        <div id="carouselExample" class="carousel slide w-75 mx-auto h-100">
            <div class="carousel-inner">
                @foreach (var image in Model.Images)
                {
                    <div class="carousel-item @(image.IsPrimary ? "active" : "")">
                        <img src="@image.Url" class="d-block w-100" alt="Property Image">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="card-footer col-8">
            <div class="p-2">
                <div class="row">
                    <h4 class="text-white"> Property Overview</h4>
                    <div>
                        <span>Description: @Model.Property.Description</span><br>
                    </div>
                    <div>
                        @if (Model.Property.City != null)
                        {
                            <span>@Model.Property.City.CityName, @Model.Property.County.CountyName, @Model.Property.State.StateName</span>
                        }
                        else
                        {
                            <span>Location: Unknown</span>

                            <br>
                        }
                    </div>
                    <div>
                        <span>Owner: @Model.Lister.FirstName @Model.Lister.LastName</span><br>
                    </div>
                    <div>
                        <span>Contact:</span><br>
                        <ul>
                            <li>Email: @Model.Lister.Email</li>
                            @if (Model.Lister.PhoneNumber != null)
                            {
                                <li>Phone Number: @Model.Lister.PhoneNumber</li>
                            }
                        </ul>
                    </div>
                    <h4 class="text-white"> Property's Details</h4>
                    <div>
                        <span>Guest Count: @Model.Property.GuestMax</span><br>
                    </div>
                    <div>
                        <span>Bedroom Count: @Model.Property.BedroomNum</span><br>
                    </div>
                    <div>
                        <span>Bathroom Count: @Model.Property.BathroomNum</span><br>
                    </div>
                    <div>
                        <span>Total Bed Count: @Model.TotalBedCount</span><br>
                    </div>
                    <div>
                        <span>Bed Types:</span><br>
                        <ul>
                            @foreach (var bedConfiguration in Model.PropertyBedConfigurations)
                            {
                                <li>@bedConfiguration.BedConfiguration.Configuration</li>
                            }
                        </ul>
                    </div>
                    <div>
                        <span>Amenities:</span><br>
                        <ul>
                            @foreach (var amenity in Model.Amenities)
                            {
                                <li>@amenity.AmenityName</li>
                            }
                        </ul>
                    </div>
                    <h4 class="text-white"> Property's Available</h4>
                    <div>
                        @if (Model.EarliestCheckinDate != null)
                        {
                            <span>Earliest Check-in Date: @Model.EarliestCheckinDate.Value.ToShortDateString()</span>

                            <br>
                        }
                        else
                        {
                            <span>No booking information available.</span>

                            <br>
                        }
                    </div>
                    <div>
                        <div id="calendar"></div>
                    </div>
                    <div>
                        <h4 class="text-white"> Property's Reviews</h4>
                        <span>Place reviews of the property here.</span><br>
                    </div>
                </div>
                <div>
                    @* @if (Model.EarliestCheckinDate != null)
                    {
                        <p>Earliest Check-in Date: @Model.EarliestCheckinDate.Value.ToShortDateString()</p>
                    }
                    else
                    {
                        <p>No booking information available.</p>
                    }
                    <br /> *@
                    <!--Make this into a calendar-->
                    <div id="calendar"></div>
                    <br />
                    @* @if (Model.AvailableDates.Any())
                    {
                        <ul>
                            @foreach (var date in Model.AvailableDates)
                            {
                                <li>@date.ToShortDateString()</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No available dates.</p>
                    } *@
                </div>
            </div>
        </div>

        <div class="col-4"> 
            <div class="row p-3">
                <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        <h4>Price Break Down For Property</h4>
                        @foreach (var nightlyPrice in Model.NightlyPrices)
                        {
                            <span class="card-text" style="color: #073642;">Price For 1 Night: $@nightlyPrice.Rate</span> <br>
                        }
                        <span class="card-text" style="color: #073642;">Price For Max Night (7): $@Model.PriceForSevenNights</span><br>
                        @if (Model.PropertyFees.Any())
                        {
                            <span class="card-text" style="color: #073642;">Fees:</span> <br>
                            <ul class="card-text" style="color: #073642;list-style: none; margin: 0; padding-left: 1rem;">
                                @foreach (var propertyFee in Model.PropertyFees)
                                {
                                    <li>@propertyFee.Fee.Type: $@propertyFee.Fee.Percentage</li>
                                }
                            </ul>
                        }
                        @if (Model.TotalLocationTax > 0)
                        {
                            <span class="card-text" style="color: #073642;">Total Location Tax: $@Model.TotalLocationTax</span> <br>
                        }
                        @if (Model.PropertyDiscounts.Any())
                        {
                            <span class="card-text" style="color: #073642;">Discounts:</span><br>
                            <ul class="card-text" style="color: #073642; list-style: none; margin: 0; padding-left: 1rem;">
                                @foreach (var propertyDiscount in Model.PropertyDiscounts)
                                {
                                    <li>@propertyDiscount.Discount.Code: @propertyDiscount.Discount.Value</li>
                                }
                            </ul>
                        }
                        <h4 class="card-title text-primary text-white">Total Price For 7 Nights: $@Model.TotalPriceForSevenNights</h4>
                        <div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <!-- If the user is logged in, display the "Book It" button -->
                                <a href="#" class="btn btn-primary">Book It!</a>
                            }
                            else
                            {
                                <!-- If the user is not logged in, display the "Log in" button -->
                                <a href="/Identity/Account/Login" class="btn btn-primary">Log In To Book!</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div id="CreatingReview" class="col-auto">
                <input asp-for="objUserReview.Id" type="hidden" value="User.Id" />
                <input asp-for="objUserReview.BookingId" type="hidden" value="BookingId" />
                <label class="form-label">Review</label>
                <select class="form-select" id="ReviewStars" name="ReviewStars" required>
                    <option selected disabled value="-1">Select Rating</option>
                    <option value="1">1 Stars</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid star rating
                </div>
                <div class="form-floating py-2 col-auto" style="height:100px;overflow:hidden;" TextMode="MultiLine" Wrap="True">
                    <input asp-for="userComment" class="form-control col-auto border-0 shadow h-100" />
                    <label asp-for="userComment" class="">Review</label>
                    <span asp-validation-for="userComment" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>
