@page
@model FireBnBWeb.Pages.BookingsPages.BookingRequestModel
@{
}

<form method="post">
	<div class="row m-3">
		<div class="col-8">
            <h3>@Model.Property.Title</h3>
            <p>How many Guests?</p>
            <input class="form-control" id="guestNum" asp-for="guestNum" />
            <p>Select Dates</p>
            <input class="form-control datePicker" id="startDate" asp-for="startDate" type="date" value="" min="@Model.adf" max="@Model.adl" />
            <p>To</p>
            <input class="form-control datePicker" id="endDate" asp-for="endDate" type="date" value="" min="@Model.adf" max="@Model.adl" />
            <input asp-for="Property" value="@Model.Property" type="hidden"/>
		</div>
        <div class="col-4">
            <div class="card">
                <div class="row p-3">
                    <!-- Display prices -->
                    Prices
                    @foreach (var nightlyPrice in Model.NightlyPrices)
                    {
                        <p>Price for 1 night: $@nightlyPrice.Rate</p>
                    }
                    @if (Model.PropertyFees.Any())
                    {
                        <p>Fees:</p>
                        <ul>
                            @foreach (var propertyFee in Model.PropertyFees)
                            {
                                <li>@propertyFee.Fee.Type: $@propertyFee.Fee.Percentage</li>
                            }
                        </ul>
                    }
                    @if (Model.TotalLocationTax > 0)
                    {
                        <p>Total Location Tax: $@Model.TotalLocationTax</p>
                    }
                    @if (Model.PropertyDiscounts.Any())
                    {
                        <p>Discounts:</p>
                        <ul>
                            @foreach (var propertyDiscount in Model.PropertyDiscounts)
                            {
                                <li>@propertyDiscount.Discount.Code: @propertyDiscount.Discount.Value</li>
                            }
                        </ul>
                    }
                    <h4>Current Price:</h4>
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- If the user is logged in, display the "Book It" button -->
                            <!--<button class="btn btn-primary" type="submit">Submit</button>-->
                            <button type="submit" class="btn btn-primary form-control">Book It!!</button>
                        }
                    </div>
                </div>
            </div>
		</div>
	</div>
</form>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const date = urlParams.get('date');
    console.log(date);

    document.getElementById("startDate").defaultValue = date;
</script>