@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="row container">
    <div>
        <h2>Find Your Vaction Home</h2>
    </div>
    <form method="get">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <input asp-for="SearchQuery" class="form-control mr-sm-2" type="search" placeholder="Search Destination" aria-label="Search Destination">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="guestNumber">Guest Number</label>
                <input asp-for="GuestNumber" class="form-control" id="guestNumber" type="number" placeholder="Guest Number">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="pricePerNight">Price per Night</label>
                <input asp-for="CostPerNight" class="form-control" id="pricePerNight" type="number" placeholder="Price per Night">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="bedroomCount">Bedroom Count</label>
                <input asp-for="BedroomCount" class="form-control" id="bedroomCount" type="number" placeholder="Bedroom Count">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="bathroomCount">Bathroom Count</label>
                <input asp-for="BathroomCount" class="form-control" id="bathroomCount" type="number" placeholder="Bathroom Count">
            </div>
            <div class="col-auto">
                Check-In Date
                <label class="sr-only" for="checkIn">Check-in</label>
                <input asp-for="CheckIn" class="form-control" id="checkIn" type="date" placeholder="MM/DD/YYYY">
            </div>
            <div class="col-auto">
                Check-Out Date
                <label class="sr-only" for="checkOut">Check-out</label>
                <input asp-for="CheckOut" class="form-control" id="checkOut" type="date" placeholder="Check-out">
            </div>
            <div class="col-auto">
                Amenities
                <!-- Add dropdown or checkboxes for selecting amenities -->
                <select asp-for="SelectedAmenities" asp-items="Model.AmenityOptions" class="form-control" multiple>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </div>
        </div>
        <br />
    </form>

    <div class="row container">

        <div style="float:left; width: 100%;">
            <div class="row row-cols-2 col-md-15" style="width: 100%;">
                <!-- Main Content -->
                @foreach (var property in Model.objProperties)
                {
                    <div class="card custom-card m-2" style="width: 18rem; height: auto;">
                        <div class="card-body" style="height: auto;">
                            <h5 class="card-title">
                                Test Location @property.Id
                            </h5>
                            <p class="card-text">Description: @property.Description</p>
                            <p class="card-text">Bedroom: @property.BedroomNum</p>
                            <p class="card-text">GuestMax: @property.GuestMax</p>
                            <div class="col-auto">
                                <a asp-page="/listings/ViewProperty" asp-route-id="@property.Id" class="btn btn-secondary mb-2">Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>